Checks: >
  bugprone-*,performance-*,modernize-*,
  readability-*,cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory

WarningsAsErrors: bugprone-*,performance-*

HeaderFilterRegex: '.*'
FormatStyle:     none
