name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: abatilo/actions-poetry@v3

      - name: Install dependencies
        run: poetry install

      - name: Run checks with Ruff
        run: |
          poetry run ruff check .
          poetry run ruff format . --check

      - name: Static type checking
        run: poetry run mypy .

      - name: Run tests with pytest
        run: poetry run pytest --cov=my_backtester --cov-report=xml
